In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
player_file_path='Data/nba_players_stats_salary_2017_2018.csv'
player_data=pd.read_csv(player_file_path)
player_data.columns

Index(['PLAYER', 'TEAM', 'AGE', 'GP', 'MIN', 'W', 'L', 'PTS', 'FGM', 'FGA',
       '3PM', '3PA', 'FTM', 'FTA', 'OREB', 'DREB', 'AST', 'TOV', 'STL', 'BLK',
       'SALARY'],
      dtype='object')

In [3]:
player_data.info

<bound method DataFrame.info of                   PLAYER TEAM  AGE  GP   MIN   W   L   PTS   FGM   FGA  \
0           Aaron Brooks  MIN   33  32   5.9  19  13   2.3   0.9   2.2
1           Aaron Gordon  ORL   22  58  32.9  19  39  17.6   6.5  14.9
2            Abdel Nader  BOS   24  48  10.9  33  15   3.0   1.0   3.1
3             Al Horford  BOS   32  72  31.6  47  25  12.9   5.1  10.5
4           Al Jefferson  IND   33  36  13.4  17  19   7.0   3.1   5.8
5        Al-Farouq Aminu  POR   27  69  30.0  40  29   9.3   3.3   8.4
6             Alec Burks  UTA   26  64  16.5  37  27   7.7   2.7   6.5
7           Alex Abrines  OKC   24  75  15.1  42  33   4.7   1.5   3.9
8         Alex Poythress  IND   24  25   4.2  10  15   1.0   0.4   1.0
9       Alfonzo McKinnie  TOR   25  14   3.8  13   1   1.5   0.6   1.1
10          Amir Johnson  PHI   31  74  15.8  47  27   4.6   1.9   3.5
11        Andre Drummond  DET   24  78  33.7  37  41  15.0   6.0  11.3
12        Andre Iguodala  GSW   34  64  25.4  46  18   6.0   2.3   5.0
13        Andre Roberson  OKC   26  39  26.6  24  15   5.0   2.2   4.2
14          Andrew Bogut  LAL   33  24   9.0   7  17   1.5   0.7   1.0
15       Andrew Harrison  MEM   23  56  23.7  17  39   9.5   3.2   7.7
16        Andrew Wiggins  MIN   23  82  36.3  47  35  17.7   6.9  15.9
17            Ante Zizic  CLE   21  32   6.7  21  11   3.7   1.5   2.1
18         Anthony Davis  NOP   25  75  36.4  45  30  28.1  10.4  19.5
19    Antonius Cleveland  ATL   24  17   7.2   7  10   1.4   0.5   1.2
20           Aron Baynes  BOS   31  81  18.3  54  27   6.0   2.6   5.5
21         Arron Afflalo  ORL   32  53  12.9  16  37   3.4   1.2   3.1
22         Austin Rivers  LAC   25  61  33.7  30  31  15.1   5.6  13.2
23         Avery Bradley  LAC   27  46  31.2  22  24  14.3   5.6  13.6
24           Bam Adebayo  MIA   20  69  19.8  34  35   6.9   2.5   4.9
25          Ben McLemore  MEM   25  56  19.5   7  49   7.5   2.8   6.7
26           Ben Simmons  PHI   21  81  33.7  51  30  15.8   6.7  12.3
27       Bismack Biyombo  ORL   25  82  18.2  25  57   5.7   2.2   4.3
28         Blake Griffin  DET   29  58  34.0  28  30  21.4   7.5  17.2
29      Boban Marjanovic  LAC   29  39   8.7  18  21   6.0   2.0   3.8
..                   ...  ...  ...  ..   ...  ..  ..   ...   ...   ...
357           Trey Lyles  DEN   22  73  19.1  41  32   9.9   3.7   7.5
358  Trey McKinney-Jones  IND   27   1   1.2   1   0   0.0   0.0   0.0
359     Tristan Thompson  CLE   27  53  20.2  27  26   5.8   2.5   4.4
360        Troy Williams  NYK   23  21  14.6   7  14   6.3   2.4   5.2
361      Tyler Cavanaugh  ATL   24  39  13.3  11  28   4.7   1.7   3.9
362         Tyler Dorsey  ATL   22  56  17.4  15  41   7.2   2.6   6.8
363          Tyler Ennis  LAL   23  54  12.7  22  32   4.1   1.7   4.1
364        Tyler Johnson  MIA   26  72  28.5  39  33  11.7   4.3   9.9
365          Tyler Lydon  DEN   22   1   2.2   1   0   0.0   0.0   0.0
366         Tyler Zeller  MIL   28  66  16.8  27  39   6.7   2.8   5.1
367         Tyreke Evans  MEM   28  52  30.9  19  33  19.4   7.0  15.6
368           Tyus Jones  MIN   22  82  17.9  47  35   5.1   1.8   4.0
369        Udonis Haslem  MIA   38  14   5.1   9   5   0.6   0.2   1.1
370          Vander Blue  LAL   25   5   9.0   1   4   0.6   0.2   1.0
371       Victor Oladipo  IND   26  75  34.0  48  27  23.1   8.5  17.9
372         Vince Carter  SAC   41  58  17.7  20  38   5.4   2.0   4.9
373      Wayne Ellington  MIA   30  77  26.5  42  35  11.2   3.7   9.1
374         Wayne Selden  MEM   23  35  19.8  10  25   9.3   3.3   7.7
375       Wesley Johnson  LAC   30  74  20.1  38  36   5.4   2.0   5.0
376      Wesley Matthews  DAL   31  63  33.8  20  43  12.7   4.5  11.1
377          Will Barton  DEN   27  81  33.1  46  35  15.7   5.7  12.7
378  Willie Cauley-Stein  SAC   24  73  28.0  23  50  12.8   5.3  10.6
379      Wilson Chandler  DEN   31  74  31.7  41  33  10.0   3.8   8.5
380  Xavier Rathan-Mayes  MEM   24   5  23.6   0   5   5.8   2.4   8.4
381         Yogi Ferrell  DAL   25  82  27.8  24  58  10.2   3.8   8.9
382         Zach Collins  POR   20  66  15.8  41  25   4.4   1.7   4.4
383          Zach LaVine  CHI   23  24  27.3   9  15  16.7   5.7  14.8
384        Zach Randolph  SAC   36  59  25.6  18  41  14.5   6.1  12.9
385        Zaza Pachulia  GSW   34  69  14.1  47  22   5.4   2.2   3.8
386              Zhou Qi  HOU   22  18   6.9  14   4   1.2   0.3   1.8

        ...      3PA  FTM  FTA  OREB  DREB  AST  TOV  STL  BLK      SALARY
0       ...      1.0  0.3  0.3   0.2   0.3  0.6  0.3  0.2  0.0   2116955.0
1       ...      5.9  2.7  3.9   1.5   6.4  2.3  1.8  1.0  0.8   5504420.0
2       ...      1.4  0.5  0.8   0.3   1.2  0.5  0.7  0.3  0.2   1167333.0
3       ...      3.1  1.3  1.7   1.4   5.9  4.7  1.8  0.6  1.1  27734405.0
4       ...      0.1  0.8  1.0   0.8   3.1  0.8  0.6  0.4  0.6   9769821.0
5       ...      4.9  0.9  1.2   1.4   6.2  1.2  1.1  1.1  0.6   7319035.0
6       ...      2.2  1.7  1.9   0.3   2.7  1.0  0.9  0.6  0.1  10845506.0
7       ...      2.9  0.5  0.6   0.3   1.2  0.4  0.3  0.5  0.1   5725000.0
8       ...      0.4  0.0  0.0   0.3   0.4  0.1  0.1  0.1  0.0    778668.0
9       ...      0.6  0.1  0.2   0.1   0.4  0.1  0.2  0.1  0.1    815615.0
10      ...      0.4  0.7  1.1   1.7   2.8  1.6  0.7  0.6  0.6  11000000.0
11      ...      0.1  3.1  5.1   5.1  10.9  3.0  2.6  1.5  1.6  23775506.0
12      ...      1.8  0.9  1.4   0.8   3.1  3.3  1.0  0.8  0.6  14814815.0
13      ...      0.9  0.3  1.0   1.9   2.8  1.2  0.8  1.2  0.9   9259259.0
14      ...      0.0  0.1  0.1   1.1   2.2  0.6  0.8  0.2  0.5   2328652.0
15      ...      2.5  2.2  2.8   0.4   1.9  3.2  1.4  0.7  0.5   1312611.0
16      ...      4.1  2.5  3.8   1.0   3.4  2.0  1.7  1.1  0.6   7574322.0
17      ...      0.0  0.7  0.9   0.8   1.1  0.2  0.3  0.1  0.4   1645200.0
18      ...      2.2  6.6  8.0   2.5   8.6  2.3  2.2  1.5  2.6  23775506.0
19      ...      0.2  0.2  0.4   0.2   0.6  0.1  0.4  0.4  0.3     92160.0
20      ...      0.3  0.7  1.0   1.6   3.8  1.1  1.0  0.3  0.6   4328000.0
21      ...      1.3  0.4  0.5   0.1   1.2  0.6  0.4  0.1  0.2   2328652.0
22      ...      5.9  1.7  2.6   0.4   1.9  4.0  1.8  1.2  0.3  11825000.0
23      ...      4.4  1.4  1.8   0.5   2.0  2.0  2.2  1.1  0.2   8808989.0
24      ...      0.1  1.9  2.6   1.7   3.8  1.5  1.0  0.5  0.6   2490360.0
25      ...      2.8  0.9  1.1   0.6   1.9  0.9  1.1  0.7  0.3   5200000.0
26      ...      0.1  2.4  4.2   1.8   6.3  8.2  3.4  1.7  0.9   6168840.0
27      ...      0.0  1.2  1.9   1.8   4.0  0.8  1.0  0.3  1.2  17000000.0
28      ...      5.6  4.5  5.7   1.3   6.1  5.8  2.8  0.7  0.3  29512900.0
29      ...      0.0  2.0  2.5   1.2   2.5  0.6  0.9  0.3  0.3   7000000.0
..      ...      ...  ...  ...   ...   ...  ...  ...  ...  ...         ...
357     ...      3.0  1.4  2.0   0.8   4.0  1.2  0.8  0.4  0.5   2441400.0
358     ...      0.0  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0     46080.0
359     ...      0.0  0.8  1.5   2.4   4.3  0.6  0.7  0.3  0.3  16400000.0
360     ...      1.8  1.0  1.4   1.0   2.0  0.8  0.9  1.0  0.2    148318.0
361     ...      2.3  0.4  0.5   1.2   2.1  0.7  0.3  0.2  0.1     50000.0
362     ...      3.6  0.8  1.1   0.3   2.0  1.4  0.7  0.3  0.1    815615.0
363     ...      1.0  0.4  0.5   0.4   1.4  1.9  0.7  0.6  0.2   1524305.0
364     ...      4.5  1.5  1.8   0.5   3.0  2.3  1.1  0.8  0.5   5881260.0
365     ...      0.0  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0   1579440.0
366     ...      0.4  0.9  1.2   1.7   3.0  0.7  0.7  0.2  0.5   1709538.0
367     ...      5.5  3.2  4.0   0.8   4.3  5.2  2.3  1.1  0.3   3290000.0
368     ...      1.6  0.9  1.0   0.2   1.4  2.8  0.7  1.2  0.1   1471382.0
369     ...      0.6  0.1  0.1   0.2   0.5  0.4  0.1  0.0  0.1   2328652.0
370     ...      0.4  0.2  0.4   0.0   0.2  0.6  0.6  0.2  0.0     50000.0
371     ...      5.8  3.9  4.9   0.6   4.6  4.3  2.9  2.4  0.8  21000000.0
372     ...      2.8  0.5  0.6   0.3   2.2  1.2  0.6  0.7  0.4   8000000.0
373     ...      7.5  0.9  1.0   0.3   2.5  1.0  0.7  0.7  0.1   6270000.0
374     ...      3.5  1.3  1.7   0.5   1.1  1.9  1.5  0.5  0.1   1312611.0
375     ...      2.4  0.6  0.8   0.4   2.5  0.8  0.7  1.0  0.8   5881260.0
376     ...      6.4  1.3  1.6   0.4   2.7  2.7  1.3  1.2  0.3  17884176.0
377     ...      5.2  2.2  2.8   0.9   4.2  4.1  1.8  1.0  0.6   3533333.0
378     ...      0.2  2.1  3.4   1.8   5.2  2.4  1.5  1.1  0.9   3704160.0
379     ...      3.3  1.2  1.5   1.4   4.0  2.1  1.2  0.6  0.5  12016854.0
380     ...      2.8  0.8  1.8   0.0   1.0  3.6  2.2  1.2  0.6     46080.0
381     ...      4.4  1.0  1.3   0.3   2.7  2.5  1.0  0.8  0.1   1312611.0
382     ...      1.7  0.4  0.6   0.7   2.7  0.8  0.9  0.3  0.5   3057240.0
383     ...      5.1  3.6  4.5   0.4   3.5  3.0  1.8  1.0  0.2   3202217.0
384     ...      2.5  1.4  1.8   1.6   5.1  2.2  2.0  0.7  0.2  12307692.0
385     ...      0.0  1.1  1.3   1.3   3.4  1.6  1.0  0.6  0.2   3477600.0
386     ...      1.1  0.4  0.7   0.3   0.9  0.1  0.6  0.1  0.8    815615.0

[387 rows x 21 columns]>

In [4]:
player_data.shape

(387, 21)

In [5]:
player_data.head(5)

,PLAYER,TEAM,AGE,GP,MIN,W,L,PTS,FGM,FGA,...,3PA,FTM,FTA,OREB,DREB,AST,TOV,STL,BLK,SALARY
0,Aaron Brooks,MIN,33,32,5.9,19,13,2.3,0.9,2.2,...,1.0,0.3,0.3,0.2,0.3,0.6,0.3,0.2,0.0,2116955.0
1,Aaron Gordon,ORL,22,58,32.9,19,39,17.6,6.5,14.9,...,5.9,2.7,3.9,1.5,6.4,2.3,1.8,1.0,0.8,5504420.0
2,Abdel Nader,BOS,24,48,10.9,33,15,3.0,1.0,3.1,...,1.4,0.5,0.8,0.3,1.2,0.5,0.7,0.3,0.2,1167333.0
3,Al Horford,BOS,32,72,31.6,47,25,12.9,5.1,10.5,...,3.1,1.3,1.7,1.4,5.9,4.7,1.8,0.6,1.1,27734405.0
4,Al Jefferson,IND,33,36,13.4,17,19,7.0,3.1,5.8,...,0.1,0.8,1.0,0.8,3.1,0.8,0.6,0.4,0.6,9769821.0

In [6]:
player_data_modif=player_data.copy()
player_data_modif.head(5)

,PLAYER,TEAM,AGE,GP,MIN,W,L,PTS,FGM,FGA,...,3PA,FTM,FTA,OREB,DREB,AST,TOV,STL,BLK,SALARY
0,Aaron Brooks,MIN,33,32,5.9,19,13,2.3,0.9,2.2,...,1.0,0.3,0.3,0.2,0.3,0.6,0.3,0.2,0.0,2116955.0
1,Aaron Gordon,ORL,22,58,32.9,19,39,17.6,6.5,14.9,...,5.9,2.7,3.9,1.5,6.4,2.3,1.8,1.0,0.8,5504420.0
2,Abdel Nader,BOS,24,48,10.9,33,15,3.0,1.0,3.1,...,1.4,0.5,0.8,0.3,1.2,0.5,0.7,0.3,0.2,1167333.0
3,Al Horford,BOS,32,72,31.6,47,25,12.9,5.1,10.5,...,3.1,1.3,1.7,1.4,5.9,4.7,1.8,0.6,1.1,27734405.0
4,Al Jefferson,IND,33,36,13.4,17,19,7.0,3.1,5.8,...,0.1,0.8,1.0,0.8,3.1,0.8,0.6,0.4,0.6,9769821.0

In [7]:
# Get list of categorical variables
s = (player_data_modif.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['PLAYER', 'TEAM']

In [9]:
from sklearn.preprocessing import LabelEncoder
# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
player_data_modif[object_cols[1]] = label_encoder.fit_transform(player_data_modif[object_cols[1]])
player_data_modif[object_cols[1]] = label_encoder.transform(player_data_modif[object_cols[1]])
player_data_modif.head(5)

,PLAYER,TEAM,AGE,GP,MIN,W,L,PTS,FGM,FGA,...,3PA,FTM,FTA,OREB,DREB,AST,TOV,STL,BLK,SALARY
0,Aaron Brooks,15,33,32,5.9,19,13,2.3,0.9,2.2,...,1.0,0.3,0.3,0.2,0.3,0.6,0.3,0.2,0.0,2116955.0
1,Aaron Gordon,19,22,58,32.9,19,39,17.6,6.5,14.9,...,5.9,2.7,3.9,1.5,6.4,2.3,1.8,1.0,0.8,5504420.0
2,Abdel Nader,1,24,48,10.9,33,15,3.0,1.0,3.1,...,1.4,0.5,0.8,0.3,1.2,0.5,0.7,0.3,0.2,1167333.0
3,Al Horford,1,32,72,31.6,47,25,12.9,5.1,10.5,...,3.1,1.3,1.7,1.4,5.9,4.7,1.8,0.6,1.1,27734405.0
4,Al Jefferson,9,33,36,13.4,17,19,7.0,3.1,5.8,...,0.1,0.8,1.0,0.8,3.1,0.8,0.6,0.4,0.6,9769821.0

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

y_modif = player_data_modif.SALARY
feature_names_modif = ['TEAM','AGE', 'GP', 'MIN', 'W', 'L', 'PTS', 'FGM','FGA','3PM','3PA','FTM','FTA','OREB','DREB','AST', 'TOV', 'STL', 'BLK']
X_modif = player_data_modif[feature_names_modif]
train_X_modif, val_X_modif, train_y_modif, val_y_modif = train_test_split(X_modif, y_modif, random_state=1)
my_model_modif = RandomForestClassifier(random_state=0).fit(train_X_modif, train_y_modif)

C:\Users\HOLZER\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [11]:
import eli5
from eli5.sklearn import PermutationImportance

perm_modif = PermutationImportance(my_model_modif, random_state=1).fit(val_X_modif, val_y_modif)
eli5.show_weights(perm_modif, feature_names = val_X_modif.columns.tolist())